.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    border-top: 8px solid var(--color-ansi-blue);
    animation: spin 1.1s ease infinite;
    -webkit-animation: spin 1.1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}