.navItemLink {
    color: var(--color-fg-default);
    padding: 0.6rem;
    align-items: center;
}

.navItemLink:hover {
    background-color: var(--color-action-list-item-default-hover-bg);
    border-radius: 8px;
    ;
    cursor: pointer;

}
.navItem {
    border-bottom: 1px solid transparent;
}

.borderBottomActive {
    border-bottom: 1px solid var(--color-primer-border-active);
}

